@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    font-size: 62.5%; //1rem = 10px
    height: 100%;
    font-family: $font-primary;
}

body{

    @include media-breakpoint-up(md){
        display: flex;
        justify-content: center;
    }
}
